body {
  background: black;
  color: white;
  margin-left: 30px;
  margin-right: 50px;
  font-family: cursive;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 25px;
  margin-top: 30px;
}

p {
  font-size: 18px;
  text-align: justify;
}

header {
  margin-top: 50px;
}

a {
  color: white;
}

footer{
  margin-top: 50px;
}

.img_planet {
  width: 300px;
}
